@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&family=Work+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
body{
    width: 100vw;
    height: 100vh;
}
.navbar{
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    background: white;
    width: 100vw;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.navbar .menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    margin: 10px;
    display: flex;
}
.navbar .menu .lines{
    display: flex;
    margin-top: 4px;
    margin-left: 10px;
}
.navbar .menu .lines div{
    width: 3px;
    height: 25px;
    background-color: white;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
}
.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.image{
    display: block;
    margin-top:80px;

}

.pics{
    display: flex;
    width: 90%;
    margin-left: 100px;
   
}
.image img{
    width: 100%;
    height: 450px;
    /* border-radius: 30px; */
}

.pics div {
    position: relative;
    flex: 1;
    display: flex;
    height: 100%; 
    width: 100%;
    transition: .2s; 
    z-index: 1;
   
}
.pics div:hover {
    flex: 1.8;
    z-index: 3;
}

.pics div::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
}
/* .pics .i-2::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
}
.pics .i-3::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
} */
.pics h3{
    color: white;
    position: absolute;
    padding: 30px;
    font-size: 25px;
    font-weight: lighter;
    z-index: 2;
}
.pics span{
    color: black;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    padding: 10px;
    margin-top: 10px;
    margin-left: 600px;
    font-size: 25px;
    font-weight: lighter;
    /* display: none; */
    /* position: static; */
    z-index: 2;
}


.heading{
    font-size: 20px;
    padding-bottom: 30px;
    margin-left: 100px;
}
.navbar .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
}
.navbar .icons .material-icons {
    margin-left: 80px;
    font-size: 30px;
}
.navbar .icons h4{
    margin-left: 80px;
}
.navbar .icons .membership h4{
    margin-left: 50px;
}
.navbar .login {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-right: 20px;
}
.navbar .login .login-image{
    padding-right: 10px;
    padding-top: 5px;
}